<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Accounts List</title>
    <link crossorigin="anonymous"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Accounts List</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/view/accounts}">Accounts</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th> Account Id</th>
            <th> Employee Id</th>
            <th> Customer Id</th>
            <th> Branch Name</th>
            <th> Start Year</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="account: ${accounts}">
            <td th:text="${account.accountId}"></td>
            <td th:text="${account.empId}"></td>
            <td th:text="${account.customerId}"></td>
            <td th:text="${account.branchName}"></td>
            <td th:text="${account.startYear}"></td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>